@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "_reset.css";

/* 폰트 */
.rajdhani {font-family: 'Rajdhani', 'NanumSquare', sans-serif;}

body {
  font-family: 'Rajdhani', 'NanumSquare', sans-serif;
}


/* 헤더 */

header {
  width: 100%;
  background-color: #FDFDFD;
  position: fixed;
  top: 0;
}
header .inner {
  height: 80px;
  margin-left: 19%;
  margin-right: 19%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .inner .gnb {
 display: flex;
}
header .inner .gnb ul {
  display: flex;
  margin: 10px 10px 10px 10px;
}m jjjjjjjjjjjjjjjjjjjjjjjjjjjjj m.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,                                                 m jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm mmmmmmmmmmmjjjjjm5